<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>
<form th:method="POST"  th:action="@{/books/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Поиск"/>
</form>

<div th:if="${book}">
    <div th:if="${book.isEmpty()}">
        <span>Книг не найдено</span>
    </div>
    <div th:each=" dictionary: ${book}">
        <a th:text="${dictionary.getTitle() + ', ' + dictionary.getAuthor()
       + ', ' + dictionary.getYear()}">user</a>

        <div th:if="${dictionary.getOwner() != null}">
            <span>Эту книгу взял </span> <span th:text="${dictionary.getOwner().getFio()}" ></span>
        </div>
        <div th:if="${dictionary.getOwner() == null}">
            <span>Книга свободна </span>
        </div>
    </div>

</div>

<form action="/books">
    <input type="submit" value="К библиотке"/>
</form>
</body>
</html>